





<html>
    <head>
        <title>Materials</title>
        <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>

        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">
                Welcome <%= profile.name %>
              </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            
            <div class="nav-links">
                <a href="/tasks">Tasks</a>
              <a href="/materials">Materials</a>
              <a href="/logout">Logout</a>
            </div>
          </div>

<br><br>
          <h2 style="text-align: center;">Materials</h2>
          <br><br>
          <div class="container">
            <form action="/upload/material" method="post" enctype="multipart/form-data">
              <label for="title">Title</label>
              <input type="text" id="title" name="title" placeholder="Title">
          
          
              <label for="contentType">Content Type</label>
              <select id="contentType" name="contentType" style="width: 100px;">
                <option value=""></option>
                <option value="document">Document</option>
                <option value="image">Image</option>
                <option value="audio">Audio</option>
                <option value="video">Video</option>
              </select>
          <br>
              <label for="fileName">Select File</label>
              <input type="file" name="material">
<br><br>
              <label for="description">Description</label>
              <textarea id="description" name="description" placeholder="Description" style="height:200px"></textarea>
              <button type="submit" value="Submit" onsubmit="this.form.submit()">Add</button>
            </form>




          </div>
          <br><br><hr>
          <div class="container">
            <h2 style="text-align: center;">Documents</h2>
            <% documents.forEach(function(docs) { %>

              <form action="/delete/material" method="post">
                <p>Title - <%= docs.title %></p>
                <p>Description - <%= docs.description %></p>
                <a href="<%= docs.file %>" width="100%" height="500px">Link</a><br>
                <button type="submit" value="<%= docs._id %>" name="materialId" onsubmit="this.form.submit()">Delete</button>
              </form>
<br>

           <% }) %>
          </div>
          <br><br><hr>
          <div class="container">
            <h2 style="text-align: center;">Images</h2>
            <% images.forEach(function(docs) { %>

              <form action="/delete/material" method="post">
                <p>Title - <%= docs.title %></p>
                <p>Description - <%= docs.description %></p>
                <img src="<%= docs.file %>" width="320" height="240">
                <br>
                <button type="submit" value="<%= docs._id %>" name="materialId" onsubmit="this.form.submit()">Delete</button>
              </form>
              <br>

           <% }) %>
          </div>
          <br><br><hr>
          <div class="container">
            <h2 style="text-align: center;">Audios</h2>
            <% audios.forEach(function(docs) { %>

              <form action="/delete/material" method="post">
                <p>Title - <%= docs.title %></p>
                <p>Description - <%= docs.description %></p>
                <audio controls>
                  <source src="<%= docs.file %>" type="audio/mpeg">
                </audio><br>
                <button type="submit" value="<%= docs._id %>" name="materialId" onsubmit="this.form.submit()">Delete</button>
              </form>


           <% }) %>
          </div>
<br><br><hr>
          <div class="container">
            <h2 style="text-align: center;">Videos</h2>
            <% videos.forEach(function(docs) { %>

              <form action="/delete/material" method="post">
                <p>Title - <%= docs.title %></p>
                <p>Description - <%= docs.description %></p>
                <video width="320" height="240" controls>
                  <source src="<%= docs.file %>" type="video/mp4">
                </video><br>
                <button type="submit" value="<%= docs._id %>" name="materialId" onsubmit="this.form.submit()">Delete</button>
              </form>

              <br>
           <% }) %>
          </div>

    </body>


</html>